{% extends 'task_manager/common/dashboard_base.html' %}

{% block titla %}
   <title>Task Manager | Dashboard</title>
{% endblock %}

{% block dasboard_content %}
    <div class="container-fluid">
        <!-- Content Row -->
        {% if perms.task_manager.view_task %}
            <div class="row">
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Total Tasks (Added)
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_task }}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        Taks Completed
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ complete }}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-check-double fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Completion Rate
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ per|floatformat }}%</div>
                                        </div>
                                        <div class="col">
                                            <div class="progress progress-sm mr-2">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 50%"
                                                     aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pending Requests Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending
                                        Requests
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ pending }}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Area Chart -->
                {% for task in tasks %}
                    <div class="col-xl-4 col-lg-4">
                        <div class="card border-left-info shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <a href="{% url 'single-task' task.id %}">
                                    <h6 class="m-0 font-weight-bold text-primary">{{ task.task_name|title }}</h6>
                                </a>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Status
                                        <span class="badge badge-primary badge-pill">
                                            {{ task.get_status_display|upper }}
                                        </span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Updated at
                                        <span class="badge badge-primary badge-pill">
                                            {{ task.updated_at }}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if tasks.has_other_pages %}
                <nav aria-label="...">
                    <ul class="pagination">
                        {% if tasks.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ tasks.previous_page_number }}"
                                   tabindex="-1">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link" tabindex="-1">Previous</span>
                            </li>
                        {% endif %}
                        {% for i in tasks.paginator.page_range %}
                            {% if tasks.number == i %}
                                <li class="page-item active">
                                    <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if tasks.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ tasks.next_page_number }}">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">Next</span>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        {% else %}
            <div class="col-xl-10 col-lg-10">
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">You Don't Have Permission to access this Page</li>
                    </ol>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js"></script>

    {% if messages %}
        {% for message in messages %}
            <script>
                Swal.fire(
                    'Deleted!',
                    '{{ message }}',
                    'error'
                )
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}