{% extends 'task_manager/common/dashboard_base.html' %}
{% load static %}
{% block dasboard_content %}
    <div class="container-fluid">
        {% comment %}<a href="#" class="btn btn-success btn-icon-split" onclick="generate()">
            <span class="icon text-white-50">
                <i class="fas fa-book-open"></i>
            </span>
            <span class="text">Generate Report</span>
        </a>{% endcomment %}
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Tasks Summary</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center" id="example">
                        <thead>
                        <tr>
                            <th>SL.</th>
                            <th>Task Name</th>
                            <th>Status</th>
                            <th>Completed By</th>
                            <th>Updated at</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ task.task_name | title }}</td>
                                <td>{{ task.get_status_display }}</td>
                                <td>{{ task.updated_by.first_name|title }}</td>
                                <td>{{ task.updated_at }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if tasks.has_other_pages %}
                    <nav style="float: right">
                        <ul class="pagination">
                            {% if tasks.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ tasks.previous_page_number }}"
                                       tabindex="-1">Previous</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link" tabindex="-1">Previous</span>
                                </li>
                            {% endif %}
                            {% for i in tasks.paginator.page_range %}
                                {% if tasks.number == i %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if tasks.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ tasks.next_page_number }}">Next</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">Next</span>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>

    {#  Modal for showing additional data of a  perticular task      #}
{% endblock %}