{% extends 'task_manager/common/dashboard_base.html' %}
{% load static %}

{% block titla %}
   <title>Task Manager | Summary</title>
{% endblock %}

{% block dasboard_content %}
    <div class="container-fluid">
        {% if perms.task_manager.view_task %}
            <div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'main-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Task Summary</li>
                </ol>
            </div>
            <div class="card border-left-info shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center" id="example1">
                            <thead>
                            <tr>
                                <th>SL.</th>
                                <th>Task Name</th>
                                <th>Status</th>
                                <th>Completed By</th>
                                <th>Updated at</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for task in tasks %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ task.task_name | title }}</td>
                                    <td>{{ task.get_status_display }}</td>
                                    <td>{{ task.updated_by.first_name|title }}</td>
                                    <td>{{ task.updated_at }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">You Don't Have Access to this Page</li>
                </ol>
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'dash/data/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'dash/data/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'dash/data/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'dash/data/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dash/data/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'dash/data/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'dash/data/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'dash/data/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'dash/data/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'dash/data/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'dash/data/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'dash/data/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'dash/data/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'dash/data/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["pdf"],
                "paging": true,
                "ordering": false,
                "info": true
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script>
{% endblock %}