<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'main-dashboard' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Task <sup>Manager</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'main-dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Interface
    </div>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fas fa-fw fa-cogs"></i>
            <span>Task Manager</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal"
           data-target="#addtaskmodal">
            <i class="fas fa-fw fa-plus"></i>
            <span>Add New Task</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'summary' %}">
            <i class="fas fa-fw fa-book-open"></i>
            <span>Summary</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->

{#    Create Task Modal start ============#}
{% if perms.task_manager.add_task %}
    <div class="modal fade" id="addtaskmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">Add New Task</h6>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'add-task' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Task Name</label>
                            <input class="form-control" type="text" name="name"
                                   aria-label="default input example">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Select Task Status</label>
                            <select class="form-control" name="status" id="exampleFormControlSelect1">
                                <option value="complete">Complete</option>
                                <option value="incomplete">Incomplete</option>
                                <option value="outstanding">Outstanding</option>
                                <option value="no status">No Status</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Additional Info</label>
                            <textarea class="form-control" name="additional" id="exampleFormControlTextarea1"
                                      rows="3"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="modal fade" id="addtaskmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="exampleModalLabel">Add New Task</h6>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6 style="color: red; font-weight: bold">You Don't Have Permission to Add Task</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
{% endif %}

{#    Create Taks Modal end ===========#}