{% extends 'base.html' %}
{% block title %}
    <title>Task Manager</title>
{% endblock %}
{% block content %}
    <div class="banner-area text-light simple text-center top-50 inc-shape bg-gradient-dark">
        <div id="particles-js"></div>
        <div class="item content-box video-popup">
            <div class="box-table">
                <div class="box-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="content">
                                    <h2>We Build Teams That Create <strong>Your Software</strong></h2>
                                    <p>
                                        Active one called uneasy our seeing see cousin tastes its. Ye am it formed
                                        indeed agreed relied piqued.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}